---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    float: none;
    position: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    margin-bottom: 60px;
}

section {
    width: 100%;
    float: none;
    padding-bottom: 50px;
    text-align: center;
}

header img {
    max-width: 150px;
    margin-bottom: 20px;
}

a {
    color: #d14;
    text-decoration: none;
}

.roadmapContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .roadmapContainer {
    flex-direction: column;
    }
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

// Button Styling

$red: #d14;
$gray: #bbbbbb;

.btn {
  outline:none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid $red;
  color:$red;
  letter-spacing:1px;
  text-shadow:0;
  margin-bottom: 20px;
  font:{
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $red;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 60px;
}
