---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    float: none;
    position: initial;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    margin-bottom: 60px;
}

section {
    width: 100%;
    float: none;
    padding-bottom: 50px;
    text-align: center;
}

header img {
    max-width: 150px;
    margin-bottom: 20px;
}

a {
    color: #d14;
    text-decoration: none;
}

.roadmapContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .roadmapContainer {
    flex-direction: column;
    }
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

// Button Styling

$green: #1ECD97;
$gray: #bbbbbb;

button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$green;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$green;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
